#content {
	padding-left: 1em;
	padding-right: 1em;
}

body{
	font-family: 'Oxygen', sans-serif;
	background-color: white;
}

.toolbar{
	color: white;
}

div.toolbar{
	padding-top: 0.5em;
	padding-right: 0.5em;
}

#myName{
	padding-left:0.5em;
}

h1 {
	font-size: 6em;
}

p {
	font-size: 2em;
}

.bold {
	font-weight: bold;
}

/****************************checkin***********************/
.background-image {
	width: 100%;
}


/****************************(story) Card***********************/
div.story-card {
  padding: 10px;
  border: 2px solid black;
}

.card-header {
	color: orange;
	font-size: 6em;
	padding: 90px 5px 5px 5px;
}

.story-icon {
	width: 70px;
}


/****************************Navbar***********************/
.navbar-app{
	min-height: 10%;
}

.nav-icon {
	margin: 2%; 
	height: 100px;
	width: 100px;
	/*display: inline-block;*/
    /*width: 100%;*/
    position:relative;
    top: 10px;
    left: 44px;
}


.nav-label {
	font-size: 2em;
	padding-top: 5px;
	text-align:center;
}

/***************************Timeline********************/
.timelineContainer {
	width: 50%;
}

img.timelineNoDots {
	position: absolute;
    top: 10px;
    left: 44px;
	margin-top: 4rem;
	height: 125%;
	width: 25%;
}

.timelineHeader {
	position:relative;
    top: 10px;
    left: 124px;
    margin-top: 10rem;
    margin-left: 7rem;
    margin-bottom: 5rem;
}

.timelineContent{
	position:relative;
	z-index: 1;
	font-family: 'Oxygen', sans-serif;
	overflow-y: scroll;
}

.post {
	margin-left: 15em;
}

.cardlimit{
	width: 80%;
	min-height: 20%;
	font-size: 3rem;
}

textarea.makePost{
	position:relative;
	top: 10px;
	left: 10px;
	width: 425px;
  	height: 20%;
  	margin: 0.5em;

}
