#content {
	padding-left: 1em;
	padding-right: 1em;
}

body{
	font-family: 'Oxygen', sans-serif;
}

.toolbar{
	color: white;
}

div.toolbar{
	padding-top: 0.5em;
	padding-right: 0.5em;
}

#myName{
	padding-left:0.5em;
}

h1 {
	font-size: 6em;
}

p {
	font-size: 2em;
}

.bold {
	font-weight: bold;
}

/****************************(story) Card***********************/
div.story-card {
  padding: 10px;
  border: 2px solid black;
}

.card-header {
	color: orange;
	font-size: 6em;
	padding: 90px 5px 5px 5px;
}

.story-icon {
	width: 70px;
}


/****************************Navbar***********************/
.navbar-app{
	min-height: 10%;
}

.nav-icon {
	margin: 2%; 
	height: 100px;
	width: 100px;
	/*display: inline-block;*/
    /*width: 100%;*/
    position:relative;
    top: 10px;
    left: 44px;
}


.nav-label {
	font-size: 2em;
	padding-top: 5px;
	text-align:center;
}

/***************************Timeline********************/
.timelineContainer {
	width: 50%;
}

img.timelineNoDots {
	position:relative;
    top: 10px;
    left: 44px;
	margin-top: 4em;
	height: 125%;
	width: 150%;
}

.timelineHeader {
	position:relative;
    top: 10px;
    left: 44px;
    margin-top: 10em;
    margin-left: 5em;
}

.timelineContent{
	z-index: 1;
	font-family: 'Oxygen', sans-serif;
}

.post {
	margin-left: 10em;
}
