/*
CSS for the CS142 project #5 main page

Since CSS uses a global name space for classes we should use class names starting with
cs142-main- here.
*/

#content {
	padding-left: 1em;
	padding-right: 1em;
}

body{
	font-family: 'Poppins', sans-serif;
}

.toolbar{
	color: white;
}

div.toolbar{
	padding-top: 0.5em;
	padding-right: 0.5em;
}

#myName{
	padding-left:0.5em;
}

.navbar-app{
	min-height: 10%;
}

.nav-icon {
	margin: 2%; 
	height: 100px;
	width: 100px;
}

.nav-label {
	font-size: 2em;
}
