.circle{
  margin: 2em;
  border-radius: 50%;
  width: 10%;

}

.post{
	margin-bottom: 10%;
}

.timelineAndPostsContainer{
	background: linear-gradient(white, #C9E7FF);
	font-family: 'Oxygen', sans-serif;
}

.timelineHeader {
	color: #61B6F9;
}

.postButton {
	position: relative;
	margin-top: 1em;
    bottom: 1em;
    left: 12em;
    color: #4A6EAA;
}