body {
  background-color: white;
}

#welcome {
  margin-left: 14rem;
  margin-top: 20rem;
  color: #FE9C21;
  font-family: 'Oxygen', sans-serif;
}


.teammateImage{
  border-radius: 50%;
  width: 75%;
  height: 75%;
}
.teammate{
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  margin-top: -10%;
  margin-left: -10%;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
}

clock {
  display: block;
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}