

<div layout = "row" class="timelineAndPostsContainer">
	<div class="timelineContainer">
		<img class ="timelineNoDots" ng-src="/images/annabelTimeline.png">
	</div>
	<div layout="column" class="timelineContent">
		<span class="timelineHeader"><h1>Triathlete96</h1></span>
		<div class="contactButtonsContainer" layout="row">
			<img class ="contactButton" ng-src="/images/highFiveButton.png">
			<img class ="contactButton" ng-src="/images/messageButton.png">
	     </div>
		<div ng-repeat="post in posts">
			<div class="post" layout="row">
				<md-card class ="cardlimit">
			        <md-card-content>
			        	{{post.content}}
			        </md-card-content>
		      	</md-card>
	      	</div> 
		</div>
	</div>
</div>

