.circle{
  margin: 2em;
  border-radius: 50%;
  width: 10%;

}

.post{
	margin-bottom: 10%;
}

body{
	background: linear-gradient(white, #C9E7FF);
	font-family: 'Oxygen', sans-serif;
}

.timelineHeader {
	color: #61B6F9;
}

.postButton {
	position: relative;
	margin-top: 1em;
    bottom: 1em;
    left: 12em;
    color: #4A6EAA;
}

img.timelineNoDots {
	position: absolute;
    top: 10px;
    left: 44px;
	margin-top: 4rem;
	height: 100%;
	width: 25%;
}

.contactButtonsContainer {
	margin-left: 25rem;
	height:5%;
	margin-bottom: 2rem;
}

.contactButton{
	margin: 2rem;
	height: 75%;
	width: 25%;
}